@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: normal;
  font-style: normal;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff');
 }

.main-bg {
  height: 500px;
  background-image: url('../assets/img/logo.png');
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
  font-family: 'NanumBarunGothic';
  white-space: pre-line;
}

.sub{
  font-family: 'NanumBarunGothic';
}

.item_list {
  font-family: 'NanumBarunGothic';
}

.d-flex {
  font-family: 'NanumBarunGothic';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.social_login{
  display: flex;
  justify-content: center;
  align-items: center;
}



.more_info {
  padding-top: 50px;
  padding-bottom: 20px;
}

.login {
  padding-bottom: 100px;
}

.Makers {
  padding-top: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputField { 
    background-color: transparent;
    height: 45px;
    width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.23);
    border-radius: 7px;
}

.inputField:hover {
    border: 2px solid black;
}

.inputField:focus-visible  {
    outline: none!important;
    border: 2px solid #1976d2;
}

.signUp {
  color: aqua;
}

.buttonstyle{
  background-color: #4A4F5A;
  color: white;
  border-radius: 30px;
  border: 0;
  position: fixed;
  right: 45px;
  bottom: 30px;  
}
