.comment-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh; /* 유동 마진 */
}

.comment-top {
    display: flex;
    flex-direction: column;
    width: 90vw; /* 유동 너비 */
    max-width: 700px;
}

.comment-bottom {
    display: flex;
    flex-direction: column;
    width: 90vw; /* 유동 너비 */
    max-width: 700px;
}

.one-comment {
    display: flex;
    flex-direction: column;
    width: 90vw; /* 유동 너비 */
    max-width: 700px;
    padding: 2vh 0;
    border-bottom: 1px solid rgb(174, 173, 173);
}

.onecomment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 댓글 상단오른쪽 삭제, 답글 달기  */
.onecomment-btn button {
    height: 3.5vh;
    font-size: 1vw; /* 유동 폰트 사이즈 */
    width: 6vw; /* 유동 너비 */
    border: 0.5px solid gray;
    background-color: white;
    border-radius: 0.2vw;
    transition: all 0.5s;
    &:hover {
        font-weight: bold;
    }
}

.comment-top textarea {
    width: 90vw; /* 유동 너비 */
    max-width: 700px;
    height: 20vh; /* 유동 높이 */
    margin-bottom: 2vh; /* 유동 마진 */
}
/* 댓글입력칸 바로 아래 댓글작성 버튼 */
.comment-top button {
    width: 8vw; /* 유동 너비 */
    border-radius: 0.5vw;
    max-width: 200px;
    margin-left: auto; /* 자동 왼쪽 정렬 */
    margin-top: 1vh; /* 유동 마진 */
    background-color: black;
    color: white;
    transition: all 0.5s;
    &:hover {
        font-weight: bold;
        background-color: rgb(66, 66, 253);
    }
}

.comment-name, .comment-writername {
    font-weight: bold;
    font-size: 1.2vw; /* 유동 폰트 사이즈 */
}

.comment-time {
    color: rgb(147, 147, 147);
    font-size: 1vw; /* 유동 폰트 시ㅏㅇ즈 */
}

.onecomment-content, .onecomment-bottom {
    margin-top: 1.5vh; /* 유동 마진 */
}
/* 댓글 아래의 답글 달기 , +..개의 답글 버튼 */
.onecomment-bottom button {
    width: 10vw; /* 유동 너비 */
    max-width: 200px;
    background-color: white;
    border: none;
    transition: all 0.5s;
    &:hover {
        font-weight: bold;
    }
}
/* 대댓글삭제버튼 */
.reply-info button {
    height: 3vh;
    font-size: 1vw; /* 유동 폰트 사이즈 */
    width: 6vw; /* 유동 너비 */
    border: 0.5px solid gray;
    background-color: white;
    border-radius: 0.2vw;
    transition: all 0.5s;
    margin-left:37.5vw;
    &:hover {
        font-weight: bold;
    }
}

.reply-one-wrap {
    margin-top: 1.5vh; /* 유동 마진 */
    margin-left: 2vw; /* 유동 마진 */
    padding-top: 1.5vh; /* 유동 패딩 */
    border-top: 1px solid rgb(197, 197, 197);
    padding-bottom: 1vh; /* 유동 패딩 */
}
