.editmy-top {
    border-bottom: 3px solid black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    padding-bottom: 10px;
}

.my-data {
    margin-top: 10px;
}

.my-data table {
    width: 100%;
    border: none;
}

.EditBtn {
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 30px;
}


.EditBtn:hover {
    font-weight: bold;
    background-color: rgb(66, 66, 253);
    transition: 0.5s;
}