/* 상품디테일 css */
.Detail-container {
    border-bottom: 1px solid black;
    padding-bottom: 5vh; /* 유동적인 패딩 */
}

.Detail_Item_wrap {
    display: flex;
    justify-content: flex-end;
    
}

.Detail_Item_Img {
    max-width: 100%; /* 최대 너비 설정 */
    height: auto; /* 높이 자동 조정 */
    margin-right: 5vw; /* 유동적인 마진 */
}


.Item_About {
    width: 40vw; /* 유동적인 너비 */
    margin-right: 5vw; /* 유동적인 마진 */
    display: flex;
    flex-direction: column;
}

.Item_Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh; /* 유동적인 마진 */
}

.likebtn {
    background-color: black;
    color: white;
    width: 10vw; /* 유동적인 너비 */
    height: 5vh; /* 유동적인 높이 */
    border: none;
    font-weight: bold;
    border: 0.2vw solid black; /* 유동적인 테두리 두께 */
    border-radius: 2vh; /* 유동 경계 반지름 */
    margin-right: 1vw; /* 유동적인 마진 */
    transition: all 0.5s;
    &:hover {
        font-weight: bold;
        background-color: rgb(66, 66, 253);
    }
}

.sendbtn {
    background-color: black;
    color: white;
    border-radius: 2vh; /* 유동적인 경계 반지름 */
    width: 20vw; /* 유동적인 너비 */
    height: 5vh; /* 유동적인 높이 */
    transition: all 0.5s;
    &:hover {
        font-weight: bold;
        background-color: rgb(66, 66, 253);
    }
}

.nickname-btn {
    display: flex;
    flex-direction: row;
}

.nickname-btn button {
    background-color: white;
    width: 10vw; /* 유동적인 너비 */
    border: none;
    padding-top: 2vh; /* 유동적인 패딩 */
}
