/* 상품디테일 css */
.Detail-container {
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.Detail_Item_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:150px;
}

.Detail_Item_Img {
    
    height: 400px;
   
}

.Item_About {

    width: 530px;
    display: flex;
    flex-direction: column;
    margin-left:80px;
}

.Item_Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.likebtn {
    background-color: black;
    color:white;
    width: 50px;
    height: 50px;
    border: none;
    font-weight: bold;
    border:0.5px solid black;
    border-radius: 10px;
    margin-right:5px;
    transition: all 0.5s;
    &:hover{
        font-weight:bold;
        background-color: rgb(66, 66, 253);
    }
}
.sendbtn {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    &:hover{
        font-weight:bold;
        background-color: rgb(66, 66, 253);
    }
}

.nickname-btn {
    display: flex;
    flex-direction: row;

}

.nickname-btn button {
    background-color: white;
    width: 50px;
    border: none;
    padding-top:15px;
}

.profile{
    margin-Top:20px;
    cursor: pointer;
}
