/* 상품디테일 css */
.Detail-container {
    border-bottom: 1px solid black;
    margin-top:7vh;
    padding-bottom: 10vh; /* 유동적인 패딩 */
}

.Detail_Item_wrap {
    display: flex;
    justify-content: flex-end;
}
.Detail_Item_Category{
    margin-bottom: 2vh;
}

.oneImg{
    width:400px;
    height:400px;
}

.Detail_Item_Img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}



.Item_About {
    width: 40vw; /* 유동적인 너비 */
    margin-right: 5vw; /* 유동적인 마진 */
    display: flex;
    flex-direction: column;
    margin-left:80px;
}
.Item_Content{
    margin-top: 20px;
}

.Item_Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh; /* 유동적인 마진 */
}

.likebtn {
    background-color: black;
    color: white;
    width: 10vw; /* 유동적인 너비 */
    height: 5vh; /* 유동적인 높이 */
    border: none;
    font-weight: bold;
    border: 0.2vw solid black; /* 유동적인 테두리 두께 */
    border-radius: 2vh; /* 유동 경계 반지름 */
    margin-right: 1vw; /* 유동적인 마진 */
    transition: all 0.5s;
    &:hover {
        font-weight: bold;
        background-color: rgb(66, 66, 253);
    }
}

.Detail_Item_Name .Detail_Item_Price{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.sendbtn {
    background-color: black;
    color: white;
    border-radius: 2vh; /* 유동적인 경계 반지름 */
    width: 20vw; /* 유동적인 너비 */
    height: 5vh; /* 유동적인 높이 */
    transition: all 0.5s;
    &:hover {
        font-weight: bold;
        background-color: rgb(66, 66, 253);
    }
}

.nickname-btn {
    display: flex;
    flex-direction: row;
}

.nickname-btn button {
    background-color: white;
    width: 2vw; /* 유동적인 너비 */
    margin-left:2vw;
    border: none;
    padding-top: 2vh; /* 유동적인 패딩 */
}

.profile{
    margin-Top:20px;
    cursor: pointer;
}


@media all and (max-width:700px){
    .oneImg{
        width:200px;
        height: 250px;
    }
}
@media all and (max-width:500px){
    .Detail_Item_Category{
        font-size: 11px;
    }
    .Item_About{
        margin-left:10px;
        padding-left:30px;
    }
    .Item_Time{
        font-size: 10px;
    }
    .Item_Content{
        font-size:10px;
    }
    .nickname-btn{
        font-size: 12px;
    }
    .sendbtn{
        font-size: 11px;
    }
}