.Login-wrap{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.find-id{
    &:hover{
        font-weight: bold;
    }
}
.find-pw{
    &:hover{
        font-weight: bold;
    }
}
.signup{
    &:hover{
        font-weight: bold;
    }
}
.login-FormGroup h1 {
    text-align: center;
    font-weight: bold;
}
.login-FormGroup p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color:#4A4F5A;
}

.loginbtn Button{
    
    transition:all 1s;
    width:300px;
    transition: all 0.3s;
    &:hover{
        background-color:rgb(66, 66, 253);
    }
}