.message-wrap{
    display:flex;
    flex-direction: column;
    padding-top:30px;
}
.message-title{
    margin:auto auto;
}
.list-wrap{
    display:flex;
    flex-direction: column;
    margin:auto auto;
}
.message-nav{
    display:flex;
    flex-direction:row;
    margin-right:auto;
    margin-top:40px;
}
.message-mid{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:10px;
}
.message-nav button{
    background-color: white;
    border:0px;
    font-weight: bold;
    transition: all 0.5s;
    &:hover{
        color:rgb(66, 66, 253);
    }
}


.message-dropbox ul{
    border: 1px solid black;
    border-radius: 10px;
    padding:0px 10px;
}
.message-dropbox span{
    font-size: 20px;
    margin-left: 20px;
}

.message-content table{
    border-top: 1px solid black;
}

.message-content thead{
    font-size:20px;
    border-bottom: 1px solid black;
    background-color:rgb(248, 248, 248);
}
.message-content tbody tr{
    cursor:pointer;
    transition: all 0.5s;
    &:hover{
        background-color: rgb(250, 246, 241);
        box-shadow: 10px 10px 20px -15px gray;
    }
}
.message-content th{
    padding:20px 30px;
}
.th3{
    width:auto;
}

.message-content th td{
    border-bottom: 1px solid black;
}


.message-button{
    margin-top:20px; 
}

.message-button button{
    background-color: rgb(178, 3, 3);
    border-radius: 10px;
    color:white;
}


.inactiveBtn {
    color: darkgray
}

.message-mid button{
    margin-top: 10px;
    height:auto;
    width:auto;
    border-radius: 5px;
    background-color: black;
    color:white;
    transition: all 0.5s;
    &:hover{
        background-color: rgb(66, 66, 253);
    }
}

@media all and (max-width:500px)
{
    .message-content{
        font-size: 13px;
    }
    .message-content thead{
        font-size:13px;
    }
    .message-content th{
        padding: 10px;
    }
    .sender, .sender-body, .check, .check-body{
        display:none;
    }
    .date, .date-body{
        font-size:10px;
    }
}