.content{
    display:flex;
    flex-direction: column;
}

.mypagetop{
    display:flex;
    flex-direction: column;
}

.toptitle{
    margin-left:25px;
}

.topinfo{
    display: flex;
    flex-direction: row;
    margin-top:45px;
}

.infoleft{
    display:flex;
    flex-direction: column;
    margin-left:100px;
}

.name{
    font-size:50px;
}

.inforight{
    display:flex;
    flex-direction: row;
    margin-left:350px;

}

.userpost{
    display:flex;
    flex-direction: column;
}

.userrent{
    display:flex;
    flex-direction: column;
    margin-left:200px;
}

.userborrow{
    display:flex;
    flex-direction: column;
    margin-left:200px;
}

.mypagebottom{
    display:flex;
    flex-direction:row;
}

.bottom-leftnav{
    margin-top:23px;
}


.post-bottom{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.post-bottom thead{
    border-top: 1px solid black;
    font-size: 18px;
}
.post-bottom th,td{
    border-bottom: 1px solid black;
    padding:20px;
    padding-left:30px;
}
.post-bottom th{
    padding-left:55px;
}
.post-bottom td{
    height:150px;
    padding-top: 30px;
    padding-left: 55px;
}
.post-bottom tr:hover{
    cursor: pointer;
}

.post-bottom tbody tr:hover{
    background-color: rgb(250, 250, 250);
}

.bottom-right{
    display:flex;
    flex-direction:column;
}
.first-td
{
    display:flex;
    flex-direction:row;
}
.first-td-info{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
}

/* 찜페이지 css */

.MyLike-wrap{
    display:flex;
    flex-direction:column;
    margin-left:20px;
}


.Like-bottom{
    display:flex;
    flex-direction:row;
    margin-top:30px;
}

.Like-item{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding:30px;
    transition: 0.2s;
}

.item-info{
    display:flex;
    flex-direction: column;
    margin-left:20px;
}

.Like-item:hover{
    transform:scaleY(1.02);
    box-shadow: 5px 5px 10px -10px gray;
    cursor:pointer;    
}