.content{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 45px;
}

.mypagetop{
    display:flex;
    flex-direction: column;
}

.toptitle{
    margin-left:55px;
}
.toptitle h1{
    cursor: pointer;
}
.top-smallicon{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 30px;
    margin-top:15px;
}

.topinfo{
    display: flex;
    flex-direction: row;
    margin-top:45px;
}

.infoleft{
    display:flex;
    flex-direction: column;
    margin-left:100px;
}
.infoleft a{
    color: gray;
    margin-top: 15px;
    text-decoration: none;
}

.name{
    font-size:50px;
}

.inforight{
    display:flex;
    flex-direction: row;
    margin-left:200px;
    font-size:20px;
}

.userpost{
    display:flex;
    flex-direction: column;
}

.userrent{
    display:flex;
    flex-direction: column;
    margin-left:100px;
}

.userborrow{
    display:flex;
    flex-direction: column;
    margin-left:150px;
}
.userreview{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
@media all and (max-width:1000px){
    .toptitle{
        margin:10px;
       margin-left:20px;
    }
    .infoleft{
        margin: 0px;
        margin-left:20px;
    }
    .name{
        font-size:25px;
    }
    .topinfo{
        flex-direction: column;
        margin:0px;
    }
    .inforight{
        flex-direction: row;
        margin:0 auto;
        margin-left:20px;
        font-size: 13px;
    }
    .userrent, .userborrow, .userreview{
        margin:0px;
        margin-left:30px;
    }
}



.mypagebottom{
    display:flex;
    flex-direction:row;
}

.bottom-leftnav{
    margin-top:23px;
    
}
.bottom-right{
    width:100%;
}
.post-top p{
    padding:30px;
    font-size: 25px;
    font-weight: bold;
}
.post-bottom{
    display:flex;
    flex-direction: column;
}
.post-bottom table{
    width:100%;
    border-right: 1px solid black;
}
.post-bottom thead{
    border-top: 1px solid black;
    font-size: 18px;
    font-weight: bold;
}
.post-bottom th,td{
    border-bottom: 1px solid black;
    padding:20px;
    font-weight: bold;
    
}
.post-bottom th{
    padding-left:auto;
}
.post-bottom td{
    height:150px;
    padding:auto auto;
}
.post-bottom tbody tr:hover{
    cursor: pointer;
}

.post-bottom tbody tr:hover{
    transition: all 0.5s;
    background-color: rgb(250, 246, 241);
}
tbody button{
    background-color: black;
    color:white;
    border-radius: 10px;
    margin-left:5px;
    width:70px;
    height:40px;
}
tbody button:hover
{
    font-weight: bold;
    background-color:rgb(66, 66, 253);
    transform: translateY(-2px);
    transition: 1s;
}

.bottom-right{
    display:flex;
    flex-direction:column;
}
.first-td
{
    display:flex;
    flex-direction:row;
}
.first-td-info{
   margin-left:10px;
}
.first-td-info p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
@media all and (max-width:750px){
    .post-bottom table{
        font-size:13px;
        width:auto;
    }
    .post-top{
        padding:30px;
    }
    .post-top p{
        font-size: 25px;
        padding:0px;
    }
    .post-bottom th, td{
        padding:auto auto;
        padding-top:0px;
        padding-bottom:0px;
    }
    .post-bottom td{
        height:auto;
    }
    .first-td{
        padding:0px;
        padding-bottom: 12px;
        text-align: center;
    }
    .second-td{
        padding:auto;
    }
    .post-bottom tr{
        text-align: center;
    }
    .post-bottom th{
        padding:15px;
    }
    .first-td-info p{
        font-size: 13px;
        margin:10px;
    }

}

/* 찜페이지 css */

.MyLike-wrap{
    display:flex;
    flex-direction:column;
    margin-left:20px;
}

.Like-top{
    padding:10px;
    border-bottom: 3px solid black;
}

.Like-top p{
    font-size: 30px;
    padding: 20px;
}

.Like-bottom{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top:30px;
}
.Like-img img{
    width:200px;
    height:200px;
}
.Like-item{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:400px;
    padding:30px;
    transition: 0.2s;
}

.item-info{
    display:flex;
    flex-direction: column;
    margin-left:20px;
}

.Like-item:hover{
    transform:scaleY(1.02);
    box-shadow: 5px 5px 10px -10px gray;
    cursor:pointer;    
}
@media all and (max-width:700px){
    .Like-item img{
        width:100px;
        height:100px;        
    }
}

/* 대여해주는 상품 css */
.rent-bottom table{
    width:100%;
    text-align: center;
    border-right:1px solid black;
}
.rent-bottom thead{
    border-top: 1px solid black;
    border-bottom:1px solid black;
    font-size: 18px;
    height:50px;
}
.rent-bottom th td{
    border-bottom: 1px solid black;
    padding:20px;
}
.rent-bottom th{
    padding-top:15px;
}
.rent-bottom td{
    cursor:pointer;       
}
.rent-bottom tbody tr{
    &:hover{
        background-color: aliceblue;
    } 
}
/* 대여해주는상품 모달 */
.RentModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
.RentmodalBody{
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.RentmodalCloseBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 20px;
    &:hover{
        font-weight: bold;
    }
}

.RentModal-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Rent-date{
    margin : 45px 0px;
    font-size: 20px;
}

.RentModal-content button{
    background-color: black;
    color:white;
    width:100px;
    height:40px;
    border-radius: 10px;
    margin-left:10px;
    margin-top:10px;
    &:hover{
        background-color: rgb(66, 66, 253);
        font-weight: bold;
    }
}
