.reiview-wrap{
    display: flex;
    flex-direction: column;
    width:max-content;
}

.review-top{
    border-bottom:1px solid black;
    width:100%;
    padding: 20px;
}

.review-btm{
    display:flex;
    flex-direction: column;
}

.onereview{
    display:flex;
    flex-direction: column;
    padding:2vh 2vw;
    border-bottom:1px solid black;
}

.reviewtitle{
    font-weight: bold;
}

.reviewcontent{
    width:48vw;
    padding-top:2vh;
    padding-left:1vw;
}