.header {
    display: flex;
    flex-direction: column;
    /* padding: 5vh 5% 1vw 10%; 상단 40px, 우측 10%, 하단 40px, 좌측 5% */
    padding: 40px 40px;
    border-bottom: 0.1rem solid gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}


.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw; /* 화면 너비의 2%만큼 간격 설정 */
}

.top-left a{
    text-decoration: none;
    font-size: 3vw;
    color:rgb(66, 66, 253);
}


.top-right {
    display: flex;
    font-size: 10px;
    color: black;
    margin-right: 7vw; 
}

.top-right a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right:2vw;
    text-decoration: none;
    border:none;
    color:black;
    &:hover{
        font-weight: bold;
      }
    
}


.header-bottom{
    display:flex;
    flex-direction: row;
    margin-top:3vh;
    justify-content: space-between;
}
.admin-link{
    margin-left:30vw;
    text-decoration: none;
    font-size: min(1.5vw, 20px);
    color:black;
    &:hover{
        font-weight: bold;
      }
}

.searchbar{
    display:flex;
    flex-direction: row;
}
@media all and (max-width:950px)
{
    .searchbar{
        display:none;
    }
}
.searchform{
    display: flex;
    flex-direction: row;
}

.search {
    width: 25vw; /* 화면 너비의 45%로 설정 */
    max-width: 500px; /* 최대 너비를 400px로 제한 */
    height: 6vh; /* 고정된 높이로 설정 */
    font-size: 0.9vw; /* 화면 너비의 1.2%로 폰트 크기 설정 */
    font-weight: 400;
    background-color : rgb(250, 250, 250);
    border-right: none;
    padding: 10px; /* 고정된 패딩으로 설정 */
    margin-left:5vw;
    border-bottom: 2px solid black; /* 고정된 테두리 두께로 설정 */
}

.searchbarbtn {
    background-color: rgb(250, 250, 250);
    width: 40px; /* 고정된 너비로 설정 */
    height: 6vh; /* 고정된 높이로 설정 */
    border-left: none;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
}

.linkwrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* font-size: min(2vw, 20px); */
    font-size: 20px;
    margin-right:7vw;
}

.linkwrap a{
    text-decoration: none;
    border:none;
    color:black;
    &:hover{
        font-weight: bold;
      }
      margin-right:1.5vw;
}

@media all and (max-width:500px)
{
    .header{
        position:relative;
    }
    .linkwrap{
        font-size:15px;
    }
    .top-left a{
        font-size: 35px;
    }
    .top-right{
        font-size: 13px;
        margin-left:0vw;
        margin-right:13vw;
    }

}