.header{
    display:flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left:100px;
    border-bottom: 0.1rem solid gray;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
    background-color: white;
    
}


.header-top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-right{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:250px;
    font-size: 20px;
    color:black;
}
.top-right a{
    text-decoration: none;
    color:black;
    &:hover{
        font-weight: bold;
      }
}


.header-bottom{
    display:flex;
    flex-direction: row;
    margin-top:15px;
}

.searchbar{
    display:flex;
    margin-left:100px;
    margin-top:20px;
    width:400px;
}

.search{
    width:500px;
    height:40px;
    font-size:15px;
    font-weight:400;
    background-color: rgb(250, 250, 250);
}