.header {
    display: flex;
    flex-direction: column;
    /* padding: 5vh 5% 1vw 10%; 상단 40px, 우측 10%, 하단 40px, 좌측 5% */
    padding: 40px 40px;
    padding-left: 200px;
    border-bottom: 0.1rem solid gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}


.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw; /* 화면 너비의 2%만큼 간격 설정 */
}

.top-left a{
    text-decoration: none;
    font-size: 3vw;
    color:rgb(66, 66, 253);
}


.top-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    color: black;
    margin-right:7vw;
}

.top-right a{
    margin-right:2vw;
    text-decoration: none;
    border:none;
    color:black;
    &:hover{
        transition: all 0.7s ease-in-out;
        transform: translateY(-6px);
    }
}


.header-bottom{
    display:flex;
    flex-direction: row;
    margin-top:3vh;
    justify-content: space-between;
}
.admin-link{
    margin-left:20vw;
    text-decoration: none;
    font-size: min(1.5vw, 20px);
    color:black;
    &:hover{
        font-weight: bold;
      }
}
.admin-link a{
    margin-right:150px;
}
.searchbar{
    display:flex;
    flex-direction: row;
}
.mobile-searchbar{
    display:none;
}
@media all and (max-width:950px)
{
    .searchbar{
        display:none;
    }
    .mobile-searchbar{
        display:flex;
        justify-content: center;
        margin-top:20px;
    }
}
.searchform{
    display: flex;
    flex-direction: row;
}
.mobile-search{
    width:80vw;
    height:5vh;
    border-bottom: 2px solid black;
    font-weight: 400;
    font-size: 13px;
    padding: 10px; 
    border-top: none;
    border-left:none;
    border-right: none;
}

.search {
    width: 30vw; /* 화면 너비의 45%로 설정 */
    max-width: 500px; /* 최대 너비를 400px로 제한 */
    height: 7vh; /* 고정된 높이로 설정 */
    font-size: 0.9vw; /* 화면 너비의 1.2%로 폰트 크기 설정 */
    font-weight: 400;
    border-top: none;
    border-left:none;
    border-right: none;
    padding: 10px; /* 고정된 패딩으로 설정 */
    margin-left:5vw;
    border-bottom: 2px solid black; 
}
input:focus{
    outline: none;
}
.mobile-searchbtn{
    background-color: white;
    width: 40px; 
    height: 5vh; 
    border-left: none;
    border-right:none;
    border-top:none;
}

.searchbarbtn {
    background-color: white;
    width: 45px; 
    height: 7vh; 
    border-left: none;
    border-right:none;
    border-top:none;
}


.linkwrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-right:7vw;
}
.linkwrap li{
    &:hover{
        transition: all 0.7s ease-in-out;
        transform: translateY(-5px);
    }
}
.linkwrap a{
    text-decoration: none;
    border:none;
    color:black;
    margin-right:1.5vw;
}
@media all and (max-width:1100px){
    .header{
        padding:20px 20px;
    }
}

@media all and (max-width:800px)
{
    .header{
        position:relative;
        padding:20px 10px;
    }
    .header-top{
        justify-content: flex-start;
    }
    .header-bottom{
        justify-content: flex-start;
    }
    .linkwrap{
        font-size:15px;
        margin:0 auto;
    }
    .ul-wrap{
        margin:0;
        margin-left:auto;
    }
    .top-left a{
        font-size: 35px;
    }
    .top-right{
        font-size: 13px;
        margin:0;
        margin-left:auto;
    }

}