
.signupwrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signupTop{
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.signupTop p{
    margin-top: 20px;
}
.signupform form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.signupform button{
    margin-top:10px; 
    border-radius: 5px;
    background-color: black;
    color:white;
    transition: all 0.3s;
    &:hover{
        background-color: rgb(66, 66, 253);
    }
}
.emailbtn{
    width:60px;
    background-color: black;
    color:white;
    transition: all 0.3s;
    &:hover{
        background-color: rgb(66, 66, 253);
    }
}
.signupform input{
    margin-top:20px;
    padding:10px;
}

/* .inputField{
    width:300px;
} */

.signupwrap label{
    margin-top:30px;
    font-weight: bold;
}

.signupform p{
    font-size: 15px;
    margin-left:115px;
    color: rgb(251, 68, 68);
    text-align: left;
}
.email-wrap{
    display: flex;
    flex-direction: column;
   
}
.email-wrap h5{
    font-size: 15px;
}
.emailTop input{
    margin-left:70px;
    margin-bottom: 0px;
}

.emailbtm{
    display: flex;
    flex-direction: row;
    margin-left:auto;
    
}
.emailbtm h5{
    margin-top:15px;
    margin-left:10px;

}
.key-wrap{
    display:flex;
    flex-direction: column;
}

.key-wrap input{
    margin-left:30px;
}

.nickname-wrap{
    display: flex;
    flex-direction: column;
}
.nickname-wrap input{
    margin-left:75px;
}
.password-wrap{
    display: flex;
    flex-direction: column;
}
.password-wrap input{
    margin-left:60px;
}
.repassword-wrap input{
    margin-left:30px;
}
.phone-wrap{
    display: flex;
    flex-direction: column;
}
.phone-wrap input{
    margin-left:45px;
}

.inputZipcode{
    margin-left:90px;
    width:150px;
    height: 40px;
    border:2px solid rgba(0,0,0,0.23);
    border-radius: 7px;
}
.inputAddress{
    margin-left:auto;
    width:300px;
    height: 40px;
    border:2px solid rgba(0,0,0,0.23);
    border-radius: 7px;
}

.address-wrap{
    display:flex;
    flex-direction: column;
    width:100%;
}
.addressTop{
    display:flex;
    flex-direction: row;
}
.addressbtm{
    display:flex;
    margin-bottom:20px;
}
.addressInput{
    margin-left:auto;
}
.address-wrap button{
    margin-left:10px;
}
.submitbtn{
    text-align: center;
    width:100%;
    height:40px;
}



/* 주소 모달 */
.Modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    animation: modal-show 0.3s;
}
.ModalBody{
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 460px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.ModalCloseBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 20px;
    &:hover{
        font-weight: bold;
    }
}

.Modal-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (max-width:800px){
    .signupform label{
        font-size: 13px;
    }
    .emailTop input{
        width:200px;
        font-size:13px;
    }
    .key-wrap input{
        width:200px;
        font-size:13px;
    }
    .keyTop{
        text-align: center;
    }
    .nickname-wrap input{
        width:200px;
        font-size:13px;
    }
    .password-wrap input{
        width:200px;
        font-size:13px;
    }
    .repassword-wrap input{
        width:200px;
        font-size:13px;
    }
    .phone-wrap input{
        width: 200px;
        font-size:13px;
    }
    .address-wrap{
        text-align: center;
    }
    .address-wrap .inputZipcode{
       width:100px;   
    }
    .address-wrap .inputAddress{
       width:250px;
       font-size:13px;
    }

}