.Review-wrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Review-top{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom : 1px solid gray;
    padding-bottom:80px;
    width:100%;
    height: 300px;
}

.top-content{
    display:flex;
    flex-direction: column;
    margin-left:100px;
}
.title{
    font-weight: bold;
    font-size: 22px;
    width:200px;
}
.price{
    margin-top:10px;
    font-size:15px;
}
.right-bottom{
    margin-top:15px;
    font-size: 13px;
    width:350px;
}

.Review-bottom{
    margin-top:30px;
}

.bottom-content textarea{
    width:1000px;
    height:250px;
}

.Review-bottom button{
    background-color: black;
    color:white;
    width:75px;
    height:45px;
    font-weight: bold;
    font-size:15px;
    border-radius: 5px;
    &:hover{
        background-color: rgb(66, 66, 253);
    }
}

