@import './style/reset.css';

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: normal;
  font-style: normal;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff');
 }

.root-wrap{
  font-family: 'NanumBarunGothic';
  position:absolute;
  top:0;   
  bottom:0;
  width:100%;  
  height:100vh;
  font-family: 'NanumBarunGothic';
  line-height: 25px;
}

.body{
  padding-top: 230px;
  padding-bottom:110px;
}
@media all and (max-width:800px){
  .body{
    padding-top:0px;
    padding:auto 0px;
  }
}


.foot{
   width:100%;
   border-top: 1px solid rgb(228, 226, 226);
   display: flex;
   flex-direction: row;
   padding-top:50px;
   padding-bottom:100px;
   padding-left:100px;
   @media all and (max-width:500px)
   {
       padding:20px 20px;
       font-size: 13px;
   }

}
.footer-right{
  display: flex;
  flex-direction: column;
  margin-left:100px;
  @media all and (max-width:500px) {
     margin-left:50px;
  }
}
.footer-right a{
  text-decoration: none;
}

.page-container{
  max-width:1900px;
  margin:0 auto;
  padding:32px 0;
  /* border: 1px solid red; */
  /* text-align: center; -> 가운데정렬*/ 
}


.page-container-main{
  max-width:1400px;
  margin:0 auto;
  padding:32px 0;
  /* border: 1px solid red; */
  text-align: center;
}

.Makers{
  line-height: 25px;
}


/* 상품화면 css */ 

.Item-Wrap {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
 
}

/* 상품한개부분섹션 */
.Item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:500px;
  cursor:pointer;
  transition: 0.2s;
  margin-top: 30px;
  font-size: 20px;
  @media all and (max-width:500px){
    width:250px;
    font-size: 15px;
  }
}
.Item:hover{
  transform: translateY(-15px);
    transition: 1s;
  /* transform : translate(5 px,5%); */
  box-shadow: 5px 5px 10px -10px gray;
}

/* 상품 이름 가격 올린날짜 상품상태 섹션 */
.Item-Information-Wrap
{
  display:flex;

}

.Item-Name-Price-Date-Wrap
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:15px;
}


.Item-State
{
  font-weight: bold;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 0.87vw;
  width:2.4vw;
}

.Item-Price{
  font-weight: bold;
  margin:12px 0px;
}
.Item-Date{
  font-size: 15px;
}
.Item-Pagination{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

@media all and (max-width:500px){
  .Item{
    width:250px;
    font-size: 15px;
  }
  .Item-Date{
    font-size:15px;
  }
  .Item-Price{
    margin:5px 0px;
  }
}


/* 메인화면의 방금 등록된 상품 문구*/
.Main-Content{
  font-size:30px;
  font-weight: bold;
  margin-bottom:5vh;
  margin-left:11vw;
  margin-top:15vh;
}
@media all and (max-width:500px){
    .Main-Content{
      font-size:20px;
      margin-top:3vh;
    }
}
/* 카테고리 , 검색페이지 */
.category-page{
  display:flex;
  flex-direction: column;
  margin-top:80px;
}
.category-top{
  display:flex;
  justify-content: space-evenly;
}
.top-right{
  margin-left:48vw;  
}

.dashboard{
  display:flex;
  padding:50px 50px;
  height:400px;
}

.bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bottom{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}

.nav-category{
  margin-left: 200px;
  margin-top:10px;
  font-size: 20px;
}

@media all and (max-width:500px)
{
  .page-container{
    padding: 0px;
    max-width:500px;
  }    
  .dashboard{
    padding:30px 15px;
    height:200px;
  }
}