@import 'reset.css';

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: normal;
  font-style: normal;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff');
 }

.root-wrap{
  font-family: 'NanumBarunGothic';
  position:absolute;
  top:0;   
  bottom:0;
  width:100%;   
  font-family: 'NanumBarunGothic';
  line-height: 25px;

}

.page-container{
  
  max-width:1400px;
  margin:0 auto;
  padding:32px 0;
  /* border: 1px solid red; */
  /* text-align: center; -> 가운데정렬*/ 
}
.page-container-main{
  max-width:1400px;
  margin:0 auto;
  padding:32px 0;
  /* border: 1px solid red; */
  text-align: center;
}

.Makers{
  line-height: 25px;
}


